<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <title>파일 확장자 차단</title>
</head>
<body>
    <div style="grid-column: 1/3">
        <h1>파일 확장자 차단</h1>
    </div>
    <div>
        <h3>고정 확장자</h3>
    </div>
    <div class="flex">
        <div th:each="item:${setext}">
            <input th:if="${item.set_extension_check}"
                   type="checkbox" onchange="setExtCheck(this)"
                   th:value="${item.set_extension_num}" checked>

            <input th:unless="${item.set_extension_check}"
                   type="checkbox" onchange="setExtCheck(this)"
                   th:value="${item.set_extension_num}">

            <label th:text= "${item.set_extension_name}"></label>
        </div>
    </div>
    <div>
        <h3>커스텀 확장자</h3>
    </div>
    <div class="flex">
        <input id="inputext" type="text" placeholder="확장자 입력 (최대 20자)" maxlength="20">
        <button id="addBtn">추가</button>
    </div>
    <div></div>
    <div>
        <div id="extBox" >
            <div class="elementBox" th:id="elementBox + ${item.extension_num}" th:each="item:${ext}">
                <div class="element" th:text="${item.extension_name}" ></div>
                    <button class="delBtn" th:id="${item.extension_num}" >X</button>
            </div>
        </div>
        <div style="margin-top: 5px">
            <button id="delAllBtn">모두삭제</button>
            <div id="limitDiv"></div>
        </div>
    </div>
</body>
<script th:src="@{js/jquery-3.4.1.min.js}"></script>
<script th:src="@{js/home.js}"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $(document).on('click', '.delBtn', function (){
          delExt($(this).attr("id"));
        })
        $("#addBtn").click(function (){
            saveExt($("#inputext").val());
        })
        $("#delAllBtn").click(function (){
            if(confirm("모두 삭제하시겠습니까?")){
                delAllExt();
            }
        })
        limitCount();
    })
</script>
</html>
